body {
    background-color: brown;
}

h1 {
    color: aqua;
}

#heading-1 {
    color: white;
    width: 30%;
    background-color: black;
    text-align: center;
}

.para {
    color: rgb(99, 190, 190);
    font-size: x-large;
    background-color: black;
    width: 500px;
    height: 300px;
    padding-left: 70px;
    padding-top: 20px;
    margin: 50px;

}

.btn {
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    border: 3PX solid black;
    border-radius: 3px;
}